.Detail {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.detail-product-top {
  display: flex;
}

.detail-product-top img {
  width: 40%;
  height: 500px;
}

.detail-product-top-information {
  margin-left: 50px;
}

.detail-product {
  font-size: 20px;
}

.buy-button {
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 50px;
  border-radius: 5px;
  color: black;
  background: #EFEFEF;
  outline: none;
  border: 2px solid red;
}



button {
  cursor: pointer;
}