* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EFEFEF;
}

a {
  text-decoration: none;
  color: black;
}