<%- include('./layout/header') %>

<div class="content">
  <form method="POST" class="container">
    <div class="input-field">
      <input type="text" name="productName" class="validate" id="product-name" required>
      <label for="product-name">Name</label>
    </div>
    <div class="input-field">
      <input type="text" name="productPrice" class="validate" id="product-name" required>
      <label for="product-price">Price</label>
    </div>
    <div class="input-field">
      <input type="text" name="productThumbnail" class="validate" id="product-name" required>
      <label for="product-thumbnail">Thumbnail</label>
    </div>
    <textarea name="productDetail" required></textarea>
    <script>CKEDITOR.replace('productDetail')</script>
    <br>
    <button class="btn">Add</button>
  </form>
</div>
</body>

</html>