<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../../css/materialize.min.css">
  <link rel="stylesheet" href="./../../css/pace.css">
  <link rel="stylesheet" href="./../../css/style.css">

  <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
  <script defer src="./../../js/materialize.min.js"></script>
  <script defer src="./../../js/pace.min.js"></script>
  <script defer src="./../../js/ui.js"></script>
</head>

<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/admin/add-product" class="black-text">Add</a></li>
    <li><a href="/admin/manage-product" class="black-text">Manage</a></li>
  </ul>

  <nav class="white">
    <div class="nav-wrapper container">
      <a href="/admin" class="brand-logo black-text">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown1">Products<i
              class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <form method="POST" class="container">
      <div class="input-field">
        <input type="text" name="productName" class="validate" id="product-name" value="<%= product.name %>" required>
        <label for="product-name">Name</label>
      </div>
      <div class="input-field">
        <input type="text" name="productPrice" class="validate" id="product-name" value="<%= product.price %>" required>
        <label for="product-price">Price</label>
      </div>
      <div class="input-field">
        <input type="text" name="productThumbnail" class="validate" id="product-name" value="<%= product.thumbnail %>" required>
        <label for="product-thumbnail">Thumbnail</label>
      </div>
      <textarea name="productDetail" required><%= product.detail %></textarea>
      <script>CKEDITOR.replace('productDetail')</script>
      <br>
      <button class="btn">Update</button>
    </form>
  </div>
</body>

</html>