<%- include('./layout/header') %>

<div class="content">
  <table class="container">
    <tr>
      <td>Order</td>
      <td>Customer</td>
      <td>Address</td>
      <td>Email</td>
      <td>Phone number</td>
      <td>Product</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Total</td>
    </tr>
    <% result.map((data, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= data.customer %></td>
      <td><%= data.address %></td>
      <td><%= data.email %></td>
      <td><%= data.phoneNumber %></td>
      <td><%= data.productName %></td>
      <td><%= data.productPrice %></td>
      <td><%= data.quantity %></td>
      <td><%= data.total %></td>
    </tr>
    <% }) %>
  </table>
</div>
</body>

</html>