<%- include('./layout/header') %>

  <body>
    <form method="POST" class="form-login">
      <h3>Sign in</h3>
      <div class="input-field">
        <input id="username" type="text" class="validate" name="username" required>
        <label for="username">Username</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" name="password" required>
        <label for="password">Password</label>
      </div>
      <div class="button-area">
        <button class="btn">Sign in</button>
        <a href="#">Forget password</a>
      </div>
    </form>
  </body>
</html>