<%- include('./layout/header') %>

    <div class="content container">
      <h4>Manage products</h4>
      <table>
        <tr>
          <td>Order</td>
          <td></td>
          <td>Name</td>
          <td>Price</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <% products.map((product, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><img src="<%= product.thumbnail %>" class="thumbnail"></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><a href="/admin/edit/<%= product.id %>"><i class="material-icons">edit</i></a></td>
          <td><a href="/admin/delete/<%= product.id %>"><i class="material-icons">delete</i></a></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>