.ContactForm form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.ContactForm form input {
  width: 100%;
  height: 50px;
  padding-left: 5%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  outline-color: red;
}