* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-login {
  width: 30%;
  margin: 5% auto;
}

.thumbnail {
  width: 50px;
  height: 50px;
}