.Card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5%;
  text-align: center;
  background: #FFF;
  border-radius: 10px;
}

.Card a {
  text-align: center;
}

.Card img {
  width: 100px;
  height: 125px;
  margin-bottom: 15%;
}