.Navbar {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 75px;
  box-shadow: 0px 5px 5px #ccc;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 75px;
  background: #FFF;
}

.Navbar nav {
  display: flex;
}

.Navbar nav form input {
  width: 200px;
  height: 30px;
  padding-left: 10%;
  border-radius: 20px;
  outline: none;
  background: #EFEFEF;
}

.Navbar nav a {
  display: block;
  width: 100px;
  text-align: center;
  /* border: 1px solid black; */
  color: black;
  font-weight: bold;
}