.Search {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.Search ul li {
  padding: 1% 5%;
  width: 100%;
  list-style: none;
  background: #FFF;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}